# pipresencemon config. Format is `key=val\n`. Whitespace, comments and empty lines ignored.

# Sensor assumed to be PIR.
# Because a PIR will be motion based, we want a low threshold and a long history
sensor_pin = 26
sensor_poll_period_secs = 1
sensor_monitor_window_seconds = 30
rising_edge_occupancy_threshold_pct = 20
falling_edge_vacancy_threshold_pct = 10

# Minimum wait before ambience mode goes to no-presence mode. If presence is detected, the timeout is reset.
vacancy_motion_timeout_seconds = 30

# Restart apps by default on crash?
restart_cmd_wait_time_seconds = 3
restart_cmd_on_unexpected_exit = false
crash_on_repeated_cmd_failure_count = 10

# Apps to launch when presence is detected
on_occupancy_cmd0 = ./example_svc occ_sample1
on_crash_restart_occupancy_cmd0 = true

on_occupancy_cmd1 = ./example_svc occ_sample2
on_crash_restart_occupancy_cmd1 = false

on_occupancy_cmd2 = ./example_svc occ_sample3

on_vacancy_cmd0 = ./example_svc vacancy
on_crash_restart_vacancy_cmd0 = true

